# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
#  - osx
julia:
  - 0.4
services:
  - redis-server
#before_script:
#    - if ["$TRAVIS_OS_NAME" == "osx"]; then brew update; brew install redis; redis-server /usr/local/etc/redis.conf; fi
notifications:
  email: false
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia -e 'Pkg.clone(pwd()); Pkg.build("ConnectionPools"); Pkg.test("ConnectionPools"; coverage=true)'
after_success:
  - julia -e 'cd(Pkg.dir("ConnectionPools")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
